
@media screen  and (max-width: 600px){
    .contacts-container{
        margin-top: 15px;
    }
}
.contacts-container{
 
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.contacts-wrap span{
    font-weight: 700;
    font-size: 20px;
    border-bottom: 3px solid ;
    border-radius: 2px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
.contacts{
   
    margin-top: 30px;
    margin-bottom: 50px;
}
.contacts-item{
    margin-top: 25px;
    margin-left: 10px;
    
}
.contacts-item a{
    border-radius: 10px;
    padding: 5px;
    transition: 200ms ease;

}
.contacts-item a:hover{
    background-color: #E6FFFB;
    color: black;
}
.contacts-item span{
    font-weight: bold;
    margin-right: 5px;
}
.first{
    margin-top: 30px;
    padding: 0px;
}
