@font-face {
    font-family: 'M PLUS Rounded 1c bold';
    src: local('M PLUS Rounded 1c bold'), url(../font/MPLUSRounded1c-Bold.ttf) format('woff');
    font-family: 'M PLUS Rounded 1c medium';
    src: local('M PLUS Rounded 1c medium'), url(../font/MPLUSRounded1c-Regular.ttf) format('woff');
  
  }

@media screen  and (min-width: 700px){
    .bio-content{
    }    
}

.bio-content{
    /* font-family: 'M PLUS Rounded 1c'; */
    font-family: 'M PLUS Rounded 1c medium';

}
.bio-container{
}
.bio-content-item{
}
.bio-content-title span{
    font-weight: 700;
    font-size: 20px;
    border-bottom: 3px solid ;
    border-radius: 2px;
    font-family: 'M PLUS Rounded 1c bold';
}
.bio-content-item:nth-child(1){
    margin-top: 0px;}

.bio-line{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10px;
}
.bio-detail{
    margin-left: 10px;
}
.bio-year span{
    font-weight: 900;
    font-family: 'M PLUS Rounded 1c bold';

}
.bio-content p{
margin-top: 5px;
line-height: 18px;
}
.bio-lines{
    margin-bottom: 30px;
}
.hobbie-detail {

}
.hobbie-wrap{
    margin-top: 20px;
    margin-left: 10px;
}