

.bio-content{
    font-family: 'M PLUS Rounded 1c', sans-serif;

}

.bio-content-title span{
    font-weight: 700;
    font-size: 20px;
    border-bottom: 3px solid ;
    border-radius: 2px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.bio-content-item:nth-child(1){
    margin-top: 0px;}

.bio-line{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10px;
}
.bio-detail{
    margin-left: 10px;
}
.bio-year span{
    font-weight: 900;
    font-family: 'M PLUS Rounded 1c', sans-serif;

}
.bio-content p{
margin-top: 5px;
line-height: 18px;
}
.bio-lines{
    margin-bottom: 30px;
}

.hobbie-wrap{
    margin-top: 20px;
    margin-left: 10px;
}