
.skills-wrapper{
margin-top: 20px;
font-family: 'M PLUS Rounded 1c', sans-serif;

}
@media(max-width: 700px){ 
 
  .skills-wrapper-container {
      min-width: auto;
  }
}
.skills-title span{
  font-weight: 700;
  font-size: 20px;
  border-bottom: 3px solid ;
  border-radius: 2px;
}
.skills-title__elem{
  
}
.skills-discription span{
    line-height: 1.3 ;

}
.skills-discription{
  margin-top: 20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;

}

.skills-props-container{
    display: flex;
    flex-direction: row;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-bottom: 30px;
}  
@media(max-width: 540px){ 
    .skills-props-container{
        flex-wrap: wrap;
    }
}

@media(max-width: 700px){ 
    .skills-props-container{
        align-content: center;
    }

    .tech-wrap{
        max-width: 100px;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        align-items: flex-start;
    }
}
.skills-content-title span{
    font-size: 15px;
    font-weight: 500;
}
.skills-content-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;

}
.skills-content-title img{
    max-width: 33px;
    margin-left: 3px;
    min-height: 20px;
    max-height: 20px;

}
.tech-wrap{
    margin: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.content-discriptions-elem{
    margin-top: 5px;
    font-size: 14px;
}
.skills-slide-wrapper{
    margin-top: 30px;
}