
  .terminal-window {
    text-align: left;
    width: 600px;
    height: 260px;
    border-radius: 10px;
    margin: auto;
    position: relative;
    margin-top: 25px;
  }
  @media(max-width: 601px){
    .terminal-window{
     display: none;
    }  
 

  }
  
  .terminal-window header {
    background: rgba(255, 255, 255, 0.61);
    border-radius: 16px;
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
    border: 1px solid rgba(255, 255, 255, 1);
    height: 30px;
    border-radius: 8px 8px 0 0;
    padding-left: 10px;
  }
  
  .terminal-window header .button {
    width: 12px;
    height: 12px;
    margin: 10px 4px 0 0;
    display: inline-block;
    border-radius: 8px;
  }
  
  .terminal-window header .button.green {
    background: #3BB662;
  }
  
  .terminal-window header .button.yellow {
    background: #E5C30F;
  }
  
  .terminal-window header .button.red {
    background: #E75448;
  }
  
  .terminal-window section.terminal {
    color: white;
    font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
    font-size: 11pt;
border-radius: 16px;
backdrop-filter: blur(9.4px);
-webkit-backdrop-filter: blur(9.4px);
border: 1px solid rgba(38, 38, 38, 0.3);
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 30px;
    bottom: 0;
    overflow: auto;
    border-radius: 0px 0px 10px 10px;
  }
  
  .terminal-window section.terminal .typed-cursor {
      opacity: 1;
      -webkit-animation: blink 0.7s infinite;
      -moz-animation: blink 0.7s infinite;
      animation: blink 0.7s infinite;
  }
  @keyframes blink{
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }
  @-webkit-keyframes blink{
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }
  @-moz-keyframes blink{
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }
 .startSimbol{
    color: #74DF74;
 }
 .parentheses{
    color: #2CB3F3;
 }
 .variable{
  color: #FF468D;
}
.const{
  color: #A95EFF;

}
.string{
  color:#43DD76
}
.number{
  color:#FF7035
}

.arr{
  color:#28A9FF
}
.white{
  color:white
}
